@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*:active,
*:before {
  box-sizing: border-box;
}

:root {
  --primary-bg: #fafafa;
  --primary-bg-accent: #2e3a59;
  --primary: #000e21;
  --secondary: #222222;
  --gray: #2e3a59;
  --white: #ffffff;
  --accent: #9c2cf3;
  --accent-hover: #9000ff;
  --red: rgb(255, 68, 68);
}

body {
  padding: 0;
  margin: 0;
  background-size: cover;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zen Tokyo Zoo', cursive;
}

p {
  font-family: "Montserrat", sans-serif;
}

body.dark {
  color: var(--primary-bg);
}

button,
a {
  cursor: pointer;
  transition: 0.4s ease;
}

ul {
  padding-left: 0;
}
