@import "tailwindcss";

*,
*:active,
*:before {
  box-sizing: border-box;
}

:root {
  --primary-bg: #222222;
  --primary-bg-accent: #303030;
  --primary: #eeeeee;
  --secondary: #859aff;
  --gray: #2e3a59;
  --white: #ffffff;
  --accent: #9c2cf3;
  --accent-hover: #9000ff;
  --accent-2: #3a49f9;
  --red: rgb(255, 68, 68);
}

body {
  padding: 0;
  margin: 0;
  background: var(--primary-bg);
  background-size: cover;
  color: var(--primary);
  overflow-x: hidden;
}

button, a {
  cursor: pointer;
  transition: 0.4s ease;
}

ul {
  padding-left: 0;
}